/* ---------------------
    base.scss ここから
  ---------------------*/

// 変数
$main-color: #636363;
$bg-color: #FFEFF2;
$accent-color: #C58DA1;
$sub-color: #76B8DE;
$price-color: #B22222;


// 基本設定
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: $main-color;
    font-size: 1.4rem;
    background: $bg-color;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
}

.sp {
    display: block;
}

.pc {
    display: none;
}

.inner {
    width: 90%;
    margin: auto;
}
li{
    list-style: none;
}

@media (min-width: 480px) {
    html {
        font-size: 68.75%;
    }

}

@media (min-width: 640px) {
    html {
        font-size: 75%;
    }
}

@media (min-width: 960px) {
    html {
        font-size: 93.75%;
    }
    body{
        font-size: 18px;

    }

    .sp {
        display: none;
    }

    .pc {
        display: block;
    }

    .inner {
        max-width: 1000px;
        margin: auto;
    }

}
/* ---------------------
    base.scss ここまで
  ---------------------*/