/* ---------------------
    main.scss ここから
  ---------------------*/
@use "base"as base;

// ブレイクポイント
@mixin pc {
    @media (min-width: 960px) {
        @content;
    }
}
// コンテンツここから
a{
    transition: 0.3s;
    &:hover{
        opacity: 0.7;
   
    }
}

.btn_more{
    display: block;
    transition: 0.3s;
    @include pc{
      max-width: 700px;
      margin: auto;
    }
    &:hover{
        opacity: 0.5;
    }
}
header{
    background: #fff;
}

h1 {
        padding: 1rem;
        width: 30%;
}

.prize{
    padding: 5rem 0;
}

@mixin prize-style {
  padding: 6rem 3rem;
  background: #fff;
  border-radius: 3rem;
  border-top: solid 0.5rem base.$accent-color;
  border-bottom: solid 0.5rem base.$accent-color;
  position: relative;
  margin-bottom: 5rem;

    h2{
        width: 60%;
        margin: auto;
    }
    h3{
        text-align: center;
        margin: 2rem 0;
    }
    h5{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 2rem;
    }
    h6{
        text-align: center;
        font-size: 1.2rem;
        a{
            color: base.$sub-color;
            transition: 0.3s;
            &:hover{
                opacity: 0.5;
            }
        }
    }
    .plus{
        width: 3.5rem;
        margin: 2rem auto;
    }

}

.prize-best{
    @include prize-style;

}

.prize-each{
    @include prize-style;
    padding: 4rem 3rem;
    margin-bottom: 0;
    h2{
        width: 40%;
    }
}
.prize-other{
    display: flex;
    flex-direction: column;
    gap:5rem;
    margin-bottom: 3rem;
}


.best-badge{
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 7rem;
}
.other-badge{
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 7rem;

}


@mixin best-list-style{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-bottom: solid 1px #E5E5E5;
    padding: 3rem 0;
    dt{
        flex: 4;
    }
    dd{
        flex: 6;
    }
    &__atgrp{
        padding-top: 2rem;
     li{
        font-size: 1.2rem;
        line-height: 1.5;
        a{
            color: base.$sub-color;
            transition: 0.3s;
            &:hover{
                opacity: 0.5;
            }
        }
       }
    }

}
.best-list{
    @include best-list-style;
}
.best-list-no-border{
    @include best-list-style;
    border-bottom: 0;
    padding-bottom: 0;

}

.prize-title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1rem;
}
.prize-price-best{
    color: base.$price-color;
    font-weight: bold;
    font-size: 2rem;
    span{
        font-size: 36px;
        font-weight: bold;
        padding-right: 0.5rem;
    }
}
.prize-atn{
    font-size: 1.2rem;
    line-height: 1.5;
    margin-left:2rem;
}

.application{
    padding: 5rem 1rem;
    border-radius: 3rem;
    background: #fff;
    margin-bottom: 5rem;
}
.sub-title{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}
.title-ex{
    text-align: center;
    padding: 2rem 0 3rem;
}

/***swiperここから***/
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 15px;
}
.swiper-pagination-bullet-active{
    background: base.$accent-color;
}

/***swiperここまで***/

.howto{
    width: 90%;
    margin: 3rem auto 0;
    border: solid 1px base.$accent-color;
    border-radius: 30px;
    padding: 5rem 2rem;
    position: relative;
    p{
        text-align: center;
        font-size: 2.2rem;
        margin-bottom: 2rem;
        line-height: 1.5;
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 90%;
        margin: auto;
    }
    &__num{
        position: absolute;
        top:-3rem;
        left: 50%;
        transform: translateX(-50%);
        width: 6rem;
    }
}

.works{
    padding: 5rem 1rem 10rem;
    border-radius: 3rem;
    background: #fff;
    position: relative;
    margin-bottom: 20rem;

    &__img01{
        position: absolute;
        bottom: -11rem;
        left: -5rem;
        width: 18rem;

    }
    &__img02{
    position: absolute;
    bottom: -10rem;
    right: -3rem;
    width: 28rem;

    }

}

.accordion-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 1.5rem 0 1.5rem 1rem;
  border-bottom: solid 1px #e9e9e9;
  font-size: 1.6rem;
}
/* 矢印本体 */
.accordion-trigger::after {
  content: "";
  width: 6px;
  height: 6px;
  border-right: 2px solid #a3a2a2;
  border-bottom: 2px solid #a3a2a2;
  transform: rotate(45deg);        /* ▾ */
  transition: transform 0.25s ease;
  margin-right: 8px;
}

/* 開いたら回転 */
.is-accordion.is-open .accordion-trigger::after {
  transform: rotate(-135deg);    
}

.accordion-child {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.accordion-child li{
  padding: 10px;
  position: relative;
  font-size: 14px;
}
.accordion-child li:last-of-type{
  padding-bottom: 30px;
}

.is-accordion.is-open .accordion-child {
  max-height: 500px;
}
.dropdown-list{
    padding: 3rem 1rem 0;
}

/***ハンバーガーここから***/
#navBtn {
    position: fixed;
    z-index: 1000;
}

.cp_hmenuac03 .cp_bar,
.cp_hmenuac03:before,
.cp_hmenuac03:after {
    display: block;
    width: 30px;
    height: 2px;
    content: '';
    transition: all 0.2s ease-in-out;
    background: base.$sub-color;
}

.cp_hmenuac03 .cp_bar {
    position: relative;
    margin: 7px 0;
}

.cp_hmenuac03 {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    top: 1rem;
    right: 1.5rem;
    z-index: 100;
}

#navMenu {
    height: 0;
}

#navMenu nav {
    background: rgba(0, 0, 0, 0.0);
}

#navMenu.show nav {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background: base.$sub-color;
    background-repeat: no-repeat, no-repeat;
    background-size: 40%, 40%;
    background-position: left top, right bottom;
    z-index: 99;
    transition: 0.2s;
}

#navMenu.show nav ul {
    width: 100%;
    height: 100%;
    padding: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#navMenu nav ul {
    display: none;
}

#navMenu nav ul li {
    display: inline-block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem 0;

    &:last-of-type {
        padding-top: 1rem;

        img {
            width: 50%;
        }
    }
}

#navMenu nav ul li:last-of-type {
    border: 0;
}

#navMenu nav ul li a {
    color: inherit;
    display: block;
    transition: 0.3s;
}

#navMenu nav ul li a:hover {
    // color: #fff;
    text-decoration: none;
    opacity: 0.4;
}

.show .cp_hmenuac03 .cp_bar {
    transform: scale(0);
}

.show .cp_hmenuac03:before {
    transform: translateY(10px) rotate(135deg);
    background-color: #fff;
}

.show .cp_hmenuac03:after {
    transform: translateY(-8px) rotate(-135deg);
    background-color:  #fff;
}


/***ハンバーガーここまで***/